@font-face {
  font-family: Bebas;
  src: url('./static/BebasNeue-Regular.ttf');
}

$color-base: #2c3335;

.App {
  text-align: center;
  background-color: $color-base;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 44px;
  margin: 10px;
  font-family: "Bebas";
}

h2 {
  font-size: large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 600px) {
  .movie-details {
    padding: 20px;
  }

  .section-film
  {
    width: 100%;
    padding-top: 10vh;
    background-color: rgb(255, 255, 255);
  }

  .search-bar {
    align-items: center;
    width: fit-content;
    display: flex;
    margin: 25px auto;
    border: solid 2px;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .select-ui {
    color: #000000;
    background-color: transparent;
    border: none;
    padding: 0 0.2em 0 0;
    width: min-content;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
  }

  .search-icon {
    filter: contrast(100%)
  }

  .input-ui {
    color: #000000;
    border: none;
    background-color: transparent;
    width: 100%;
    :focus {
      outline: none;
    }
  }
}


@media (min-width: 900px) {
  .App {
    color: #fff;
  }

  .search-icon {
    filter: contrast(0%)
  }

  .section-film {
    width: 60%;
    padding-top: 10vh;
    background-color: transparent;
  }

  .movie-details {
    padding: 0px 20px;
    justify-content: space-between;
  }

  .movie-infos {
    margin-left: 40px;
  }

  .search-bar {
    align-items: center;
    width: inherit;
    display: flex;
    margin: 25px auto;
    border: solid 2px;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .select-ui {
    color: #fff;
    filter: contrast(0);
    background-color: transparent;
    border: none;
    padding: 0 0.2em 0 0;
    width: min-content;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
  }

  .input-ui {
    color: #fff;
    background-color: transparent;
    width: 100%;
    border: none;

    :focus {
      outline: none;
    }
  }

  option {
    color:#000000
  }
}

.section-title {
  margin-bottom: 28px;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

input[type="text"]:focus-visible {
  border: none;
  outline: none;
}

input[type="text"] {
  font-size: 16px;
  border: none;
  outline: none;
}

.App-header {
  font-family: 'Bebas';
  padding: 10px;
  padding-left: 70px;
  min-height: 5vh;
  position: fixed;
  width: 100vw;
  background-color: #960000;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-icon:hover {
  cursor: pointer;
}

.movie-item {
  font-weight: bold;
  padding-right: 15px;
}

.movie-actor {
  text-align: left;
  margin: 10px;
}

.poster-img {
  padding-bottom: 15px;
} 

.movie-description {
  text-align: left;
  margin: 10px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  padding: 50px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #960000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

